In [161]:
import pandas as pd
import numpy as np

In [16]:
file = "C:\\Users\\Bartek\\OneDrive\\Documents\\Programming\\Python\\Test data\\Protein titration LissamineFA_22267.csv"

In [145]:
def read_in_p(file_path, skiprows=38, skipfooter=196):
    
    '''Returns a data frame with p channel values for 384 well plate.'''
    
    df = pd.read_csv(file_path, sep=',', index_col=0, engine='python', skiprows=skiprows, skipfooter=skipfooter, encoding='utf-8')
    df.drop(df.columns[-1], axis=1, inplace=True)   #delete the last column becasue it contains 'NaN' values
    
    #create lists with column names, index names
    col_names = list(df.columns.values)
    index_names = list(df.index.values)
    well_IDs = []
    
    #create list with well IDs based on the column and index names
    for index_name in index_names:
        for col_name in col_names:
            well_ID = index_name + col_name
            well_IDs.append(well_ID)
    
    values_lists = df.values.tolist()  #cast all data frame vaules into a list of lists
    
    values_list = []
    
    #create a single list of all values
    for i in range(0, len(values_lists)):
        values_list.extend(values_lists[i])
        
    new_df = pd.DataFrame(data=values_list, index=well_IDs, columns=['p'])   #create new data frame
    
    return new_df

In [148]:
def read_in_s(file_path, skiprows=66, skipfooter=168):
    
    '''Returns a data frame with s channel values for 384 well plate.'''
    
    df = pd.read_csv(file_path, sep=',', index_col=0, engine='python', skiprows=skiprows, skipfooter=skipfooter, encoding='utf-8')
    df.drop(df.columns[-1], axis=1, inplace=True)   #delete the last column becasue it contains 'NaN' values
    
    #create lists with column names, index names
    col_names = list(df.columns.values)
    index_names = list(df.index.values)
    well_IDs = []
    
    #create list with well IDs based on the column and index names
    for index_name in index_names:
        for col_name in col_names:
            well_ID = index_name + col_name
            well_IDs.append(well_ID)
    
    values_lists = df.values.tolist()  #cast all data frame vaules into a list of lists
    
    values_list = []
    
    #create a single list of all values
    for i in range(0, len(values_lists)):
        values_list.extend(values_lists[i])
        
    new_df = pd.DataFrame(data=values_list, index=well_IDs, columns=['s'])   #create new data frame
    
    return new_df

In [103]:
def read_in_g(file_path, skiprows=196, skipfooter=55):
    
    '''Returns the G-factor for 384 well plate.'''
    
    df = pd.read_csv(file_path, sep=',', names=[0,1,2,3,4], engine='python', skiprows=skiprows, skipfooter=skipfooter, encoding='utf-8')
    g = df.iloc[0,4]   #extract the value of g factor from the last column
    
    return g

In [156]:
read_in_s(file)

           s
A01  53577.0
A02  80850.0
A03  75128.0
A04  55410.0
A05  91909.0
..       ...
P20      NaN
P21      NaN
P22      NaN
P23      NaN
P24      NaN

[384 rows x 1 columns]

In [159]:
read_in_p(file)

           p
A01  26329.0
A02  31935.0
A03  26748.0
A04  26750.0
A05  27792.0
..       ...
P20      NaN
P21      NaN
P22      NaN
P23      NaN
P24      NaN

[384 rows x 1 columns]

In [160]:
read_in_g(file)

1