In [ ]:
import pandas as pd
import numpy as np
import csv
import re

In [2]:
test_file_plate_2_1 = "C:\\Users\\Bartek\\OneDrive\\Documents\\Programming\\Python\\Test data\\Protein titration LissamineFA_22267.csv"
test_file_plate_2_2 = "C:\\Users\\Bartek\\OneDrive\\Documents\\Programming\\Python\\Test data\\Protein titration LissamineFA_22741.csv"
test_file_list_A = "C:\\Users\\Bartek\\OneDrive\\Documents\\Programming\\Python\\Test data\\Outputfiles\\csv\\listA.csv"
test_file_repeat_read_plate_1 = "C:\\Users\\Bartek\\OneDrive\\Documents\\Programming\\Python\\Test data\\Outputfiles\\csv\\repeat read_plate1.csv"

In [3]:
reader = csv.reader(open(test_file_repeat_read_plate_1, 'r'), delimiter=',') 
    
all_data = [] 
dfs = {}
counter = 0

# Create a list of lists with all data in the csv file
for row in reader:
    all_data.append(row)

# Find the total noumber of rows in the file
for index, item in enumerate(all_data):
    if item != [] and re.search(r"Exported with EnVision Workstation", item[0]) != None:   # Blank rows cannot be indexed 
        total_lines = index + 1  

# Find the data        
for index, item in enumerate(all_data):
    if item != [] and re.findall(r"Plate information", item[0]) == ['Plate information'] and all_data[index + 8] == []:
        skiprows = index + 9   # Set the skiprows parameter
        end_of_data = 0
        
        # find the index of the first blank row after the data table
        while end_of_data == 0:   
            for index, item in enumerate(all_data):
                if item == [] and index > skiprows:  
                    end_of_data = end_of_data + index
                    break
                    
        skipfooter = total_lines - end_of_data   # calucalte the skipfooter parameter
        
        # extract data into pandas df
        df = pd.read_csv(test_file_repeat_read_plate_1, sep=',', index_col=0, engine='python', skiprows=skiprows, skipfooter=skipfooter, encoding='utf-8')
        
        # add only the s and p channel df to dictionary 
        if counter != 0 and counter % 3 != 0:
            dfs[counter] = df
        
        counter = counter + 1

In [4]:
len(dfs)

4

In [5]:
dfs[1]

,27318000,15885300,21036054,22823211,19070359,6854639,15348069,9178898,5116587,24798144,...,10110194,14236276,22615847,12174025,7747257,14475328,6088345,17233582,11476180,Unnamed: 24
18781491,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17682352.0,25542206.0,28037904.0,12162314.0,17808198.0,9662208.0,21511273.0,10788239.0,8096173.0,19002255.0,5674320.0,...,3498738.0,8781437.0,6078456.0,13754476.0,22041950.0,18250237.0,17730987.0,16866924.0,11972287.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34003407.0,9165626.0,14432167.0,20991721.0,26150693.0,13621214.0,13509098.0,19824875.0,13174169.0,18269822.0,14776452.0,...,5660147.0,24534945.0,8320162.0,26730272.0,41065444.0,8805493.0,20776813.0,10280069.0,11638872.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30380651.0,5701796.0,7842883.0,17906039.0,21431849.0,44320736.0,16991191.0,16541170.0,12761778.0,10857959.0,17134912.0,...,19040502.0,6928443.0,18090316.0,17215031.0,22431941.0,11683990.0,5346228.0,16190696.0,15246229.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11522470.0,11487932.0,12756990.0,7610040.0,3799031.0,16271071.0,15723197.0,17646782.0,5127155.0,11517274.0,5614144.0,...,15090730.0,18762302.0,15171632.0,3632708.0,15982624.0,14974967.0,12431844.0,9353416.0,10465245.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10889550.0,9973788.0,14854795.0,14909991.0,15524625.0,17754357.0,12981814.0,7814958.0,27455678.0,10863825.0,17281414.0,...,13819538.0,6299007.0,16290404.0,7598091.0,25057561.0,10428058.0,8041741.0,13500922.0,13085743.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dfs[4]

,27435568,16237095,21291729,22591167,19241084,6888160,15349722,9046770,5172691,24719959,...,10029803,14047631,22477793,12781925,7790547,14367068,6043519,17348915,11421067,Unnamed: 24
18964719,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17751015.0,25382466.0,28254092.0,12358689.0,17942739.0,9664228.0,21523754.0,10778854.0,8102516.0,18992822.0,5712784.0,...,3429054.0,8708993.0,6069134.0,13841770.0,21909757.0,18210509.0,17640900.0,16722451.0,12055364.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31691700.0,9125272.0,14503254.0,21406693.0,26217805.0,13527293.0,13465870.0,19795623.0,13211033.0,18229519.0,14766719.0,...,5679909.0,24581990.0,8228900.0,26569308.0,40874026.0,8831770.0,20682475.0,10397634.0,11593238.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30178744.0,5972240.0,8301127.0,17901232.0,21402216.0,44850201.0,17020477.0,16550848.0,12522411.0,10821976.0,17151788.0,...,18777888.0,6985710.0,17933040.0,17161179.0,22570384.0,11633321.0,5290334.0,16417725.0,15205638.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11016335.0,11803976.0,12722432.0,7676389.0,3747748.0,16232170.0,15681794.0,17820341.0,5144549.0,11542010.0,5571718.0,...,15084031.0,18737704.0,15134132.0,3596576.0,15883183.0,14913699.0,12450340.0,9345596.0,10406333.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10837421.0,9773405.0,15274856.0,14789133.0,15477364.0,17491476.0,13012329.0,7739279.0,27381361.0,10943588.0,17081643.0,...,13652112.0,6018580.0,16195769.0,7652003.0,25021324.0,10343970.0,7905327.0,13538825.0,13026020.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dfs[5]

,29313577,18404541,23410696,24606892,21274689,8495224,16904527,10804345,6566435,26824479,...,11709061,15664508,24643755,14231749,9274197,16414670,7839955,19557852,13688881,Unnamed: 24
20296635,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20192899.0,27736731.0,30455034.0,14187352.0,19881889.0,11524185.0,23104185.0,12261676.0,9781943.0,21492979.0,6972537.0,...,4777858.0,10516543.0,7648376.0,15522464.0,24153243.0,20163553.0,19065615.0,18608311.0,13581258.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34736780.0,10921991.0,17059766.0,23482203.0,29164636.0,15591021.0,15422070.0,22293624.0,15172438.0,20586313.0,16881483.0,...,7066824.0,26228846.0,9683224.0,28558875.0,39801950.0,10340556.0,21993450.0,11651594.0,13086110.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32492002.0,7781177.0,9842146.0,19766097.0,23992170.0,44790693.0,19321716.0,18772869.0,14948871.0,12230175.0,18694378.0,...,20515581.0,8211623.0,19448321.0,18479107.0,23280556.0,12825141.0,6552028.0,17817212.0,16556844.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13494542.0,14217969.0,15026758.0,10060114.0,5182467.0,18576110.0,18215789.0,20466227.0,6680187.0,14067046.0,7062958.0,...,16252184.0,20318939.0,16764768.0,4340690.0,17626852.0,15843442.0,12753116.0,10411745.0,11456917.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12823080.0,12406701.0,16811383.0,16836619.0,17817310.0,20331783.0,14546248.0,9508711.0,30539299.0,12906639.0,19695051.0,...,15260843.0,6721286.0,17091864.0,8508588.0,26424284.0,11337218.0,8801218.0,14211489.0,13838929.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
reader = csv.reader(open(test_file_repeat_read_plate_1, 'r'), delimiter=',') 
    
all_data = [] 
dfs = {}
counter = 0

# Create a list of lists with all data in the csv file
for row in reader:
    all_data.append(row)

for index, item in enumerate(all_data):
    if item != [] and re.search(r"Exported with EnVision Workstation", item[0]) != None:   # Blank rows cannot be indexed 
        total_lines = index + 1  
        
for index, item in enumerate(all_data):
    if item != [] and re.findall(r"Plate information", item[0]) == ['Plate information'] and all_data[index + 8] == []:
        skiprows = index + 9   
        end_of_data = 0
        
        while end_of_data == 0:   
            for index, item in enumerate(all_data):
                if item == [] and index > skiprows:  
                    end_of_data = end_of_data + index
                    break
                    
        skipfooter = total_lines - end_of_data
        
        df = pd.read_csv(test_file_repeat_read_plate_1, sep=',', index_col=0, engine='python', skiprows=skiprows, skipfooter=skipfooter, encoding='utf-8')
        
        if counter != 0 and counter % 3 != 0:
            dfs[counter] = df
        
        counter = counter + 1

341
9
25
skipfooter 316
0
35
51
skipfooter 290
1
61
77
skipfooter 264
2
87
103
skipfooter 238
3
113
129
skipfooter 212
4
139
155
skipfooter 186
5